@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
}



.navbar-container{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
}

.navbar-container .logo {
    position: absolute;
    left: 80px;
}

.navbar-container .logo:hover {
    cursor: pointer;
}

.logo img {
    width: 90px;
}

.navbar-container .grow-list {
    display: flex;
    position: absolute;
    left: 16em;

    top: -0.5em;
    color: #8b7c7c;
}

.navbar-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container ul>li {
    list-style: none;
    margin-left: 1em;
}

.navbar-container ul li:hover {
    color: #000;
    cursor: pointer;
}

.navbar-container .button-group {
    display: flex;
    position: absolute;
    right: 4em;
}

.navbar-container .button-group .nav-button {
    background-color: #5955B3;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}


.banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7em;
}

.banner-container>div+div>img {
    height: 80vh;
    width: 60vw;
}


.banner-container>div {
    margin-left: 4vw;
}

.banner-container>div>h1 {
    font-size: 80px;
    color: #3C2F60;
}

h1>span {
    color: #5955B3;
}

.banner-container>div>.description {
    text-align: left;
    color: rgba(75, 71, 71, 0.733);
    font-weight: 500;
    width: 70%;
}

.btn {
    color: #fff;
    background-color: #5955B3;
    padding: 2vh 2vw;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

